<h1>Editing Vaccination Compaigns Target</h1>

<%= render 'form', vaccination_compaigns_target: @vaccination_compaigns_target %>

<%= link_to 'Show', @vaccination_compaigns_target %> |
<%= link_to 'Back', vaccination_compaigns_targets_path %>
