
<style>
    /*body {
    padding: 0;
    margin: 0;
    }
    html, body, #map {
        height: 100%;
        width: 100vw;
    }*/
    html, body {
    padding: 0;
    margin: 0;
    }

    #map{
        height: 480px;
        width: 100%;
    }
</style>


<div id="map"></div>

<script>

    var map = L.map('map').setView([-22.432, -44.432], 13).locate({setView: true, maxZoom: 16, watch: true});

    var vaccination_points = L.layerGroup();
    var user_positions = L.layerGroup();

    var trip_id;
    startingPoint = {};

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
    
    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    $(document).ready(function(){
        getVaccinationPoints();
        <% if user_signed_in?  %>
        getLocation("<%= current_user.id %>");
        <% end %>
    });

    function updateUserLocation(e){
        
        console.log("User Location: ",e);
        //updateCurrentLocation();
        <% if user_signed_in?  %>
        var data = {
            user_id: "<%= current_user.id %>",
            latitude: e.latitude,
            longitude: e.longitude,
            accuracy: e.accuracy
        }

        saveTrip(data);
        <% end %>
    }

    /*function updateCurrentLocation(){
    var token = $('meta[name="csrf-token"]').attr('content');
        $.ajax({
          url: "/user_positions/" + id + "/",
          type: 'post',
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', token);
          },
          data: tripData,
          success: function(response) {
              console.log("Atualizar posição: ", response);
          }
        });
    }*/

    function onLocationFound(e) {
        var radius = e.accuracy;
        
        user_positions.clearLayers();

        var m = L.marker(e.latlng).bindPopup("Sua localização é de " + radius + " metros a partir deste ponto").openPopup();

        //var c = L.circle(e.latlng, radius);

        user_positions.addLayer(m);
        //user_positions.addLayer(c);

        user_positions.addTo(map);

        updateUserLocation(e);
    }

    function onLocationError(e) {
        //alert(e.message);
        console.error(e);
    }

    function saveTrip(positionData){
        var token = $('meta[name="csrf-token"]').attr('content');

        var params = "user_position[user_id]="+positionData.user_id+"&";
        params += "user_position[latitude]="+positionData.latitude+"&";
        params += "user_position[longitude]="+positionData.longitude+"&";
        params += "user_position[accuracy]="+positionData.accuracy;

        $.ajax({
            url: "/user_positions",
            type: "post",
            dataType: "json",
            data: params,
            beforeSend: function(xhr){
                xhr.setRequestHeader('X-CSRF-Token', token);
            },
            success: function(response){
                console.log("Posição Registrada: ",response);
            }
        })
    }

    function getCurrentLocation(){
        navigator.geolocation.getCurrentPosition(function(position) {
          <% if user_signed_in?  %>
          var data;
          data = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            user_id: <%= current_user.id%>,
            accuracy: position.coords.accuracy
          };
          //return updateCurrentLocation(data);
          return saveTrip(data);
          <% end %>
        });
    }

    function getLocation(user){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            var coord, data, timestamp;
            coord = position.coords;
            timestamp = position.timestamp;
            data = {
                latitude: coord.latitude,
                longitude: coord.longitude,
                user_id: user,
                accuracy: coord.accuracy
            };
            startingPoint = data;

            //console.log("Location : ", data);
            return saveTrip(data);
            });
        }
    }

    function getVaccinationPoints(){
        $.ajax({
            url: "/vaccination_points.json",
            beforeSend: function(){
                //console.log("Preparing request of Vaccination Points");
                vaccination_points.clearLayers();
            },
            success: function(data){
                //console.log("Vaccination Points: ",data);

                $.each(data, function(k,v){
                    var style = getVaccinationPointStyle(v);

                    var vaccination_point = L.circle([parseFloat(v.latitude), parseFloat(v.longitude)], {
                        radius: v.radius_km * 1000,
                        color: style.textColor,
                        fillColor: style.textColor,
                        fill: style.textColor,
                        fillOpacity: 0.1
                    });

                    vaccination_points.addLayer(
                        L.marker({lat: parseFloat(v.latitude), lng: parseFloat(v.longitude)},
                        {
                            icon: L.BeautifyIcon.icon(style)
                        }).addTo(map));
                    vaccination_points.addLayer(vaccination_point);
                });

                vaccination_points.eachLayer(function (layer) {
                    //layer.bindPopup('Hello');
                    //console.log("Renderizar Custom-Modal: ", layer);
                })

                vaccination_points.addTo(map);
            },
            error: function(error){
                console.error(error);
            }
        })
    }

    function getVaccinationPointStyle(data){
        var remain_doses = _.sumBy(data.vaccinations, function(n){ return n.remain_doses });

        var options = {
            icon: 'hospital',
            borderColor: ((remain_doses > 0) ? 'green' : 'red'),
            textColor: ((remain_doses > 0) ? 'green' : 'red')
        }
        //console.log("Style: ",options);

        return options;
    }

</script>