<h4>Editando Campanha de Vacinação</h4>

<%= render 'form', vaccination_campaign: @vaccination_campaign %>

<%= link_to 'Exibir', @vaccination_campaign %> |
<%= link_to 'Voltar', vaccination_campaigns_path %>
