<h1>Editing Vaccination Point Type</h1>

<%= render 'form', vaccination_point_type: @vaccination_point_type %>

<%= link_to 'Show', @vaccination_point_type %> |
<%= link_to 'Back', vaccination_point_types_path %>
